apiVersion: scaffolder.backstage.io/v1beta3
kind: Template
metadata:
  name: test-appconfig-reader2
  title: Test AppConfig Reader (Prism)2
spec:
  owner: user:default/guest
  type: service

  parameters: []

  steps:
    - id: read_prism
      name: Read prism config from app-config
      action: appconfig:read
      input:
        configPath: prism
        keys: [env, name, Checking, environments]
        required: [env]

    - id: show_values
      name: Show what we read
      action: debug:log
      input:
        message: |
          env       = ${{ steps.read_prism.output.env }}
          name      = ${{ steps.read_prism.output.name }}
          Checking  = ${{ steps.read_prism.output.Checking }}
          webhook   = ${{ steps.read_prism.output.environments[steps.read_prism.output.env].orchestratorWebhook }}

    # Example of using the webhook dynamically (dummy step)
    - id: use_webhook
      name: Use env-specific webhook
      action: debug:log
      input:
        message: |
          I will call this webhook in real template:
          ${{ steps.read_prism.output.environments[steps.read_prism.output.env].orchestratorWebhook }}
